@model RadyoFiratUniversite.RadyoFirat.Entities.Concrete.Roles

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm(Html.BeginForm("Create", "Roles")))
{
    <div class="form-horizontal">
        <h3 class="sign-h text-danger">Yeni Yayıncı Oluştur</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Unvani, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unvani, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unvani, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" id="sign-frm-input-btn" />
            </div>
        </div>


    </div>
}
