
@model RadyoFiratUniversite.RadyoFirat.WebUI.Models.IletisimListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Görevliler</h2>

<p>
    @Html.ActionLink("Yeni Adres Oluştur", "Create", new {/* id=item.PrimaryKey */})
</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Adres Tanımı</th>
        <th>Adres</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Iletisims) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Deger</td>
            <td>@item.Ozellik</td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Sil", "Delete", new {id=item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>
