@model RadyoFiratUniversite.RadyoFirat.WebUI.Models.Top30ListViewModel

@{
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Top 30</h2>

<p>
    @Html.ActionLink("Yeni Şarkı Ekle", "Create", new {/* id=item.PrimaryKey */})
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Top Sırası</th>
            <th>Sanatçı</th>
            <th>Şarkı</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Top30)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TopSirasi</td>
                <td>@item.SanatciAdi</td>
                <td>@item.SarkiAdi</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>